body {
    display:flex;
    flex-wrap: wrap;
}

body * {
    /* debugging border
    border: 5px solid rgb(231, 217, 196); */
}

.header {
    /* width: 100vw;
     */
        display:flex;
        flex: 1;
    height:150px;
}

.header-seperator {
    border-width: 2.5px;
    width: 100vw;
}

.vertical-seperator {
    border-width: 2.5px;
    height: 500px;
    margin: 0;
}

.navbar-item {
    margin: 20px;
    
    flex: 1;
    transition-duration: 350ms;

    border: 5px solid lightcoral;
    border-radius: 10px;
}

.navbar-item:hover {
    margin: 10px;
    background-color: #e9e9f1;
}

.sidebar {
    width: 20vw;
    height: fit-content;

    height: 500px;
}

.main-content {
    flex: 1;
}