body {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

body * {
    /* debugging border
    border: 5px solid rgb(231, 217, 196); */
}

.sidebar h1 {
    font-size:56px;
    margin-top:10px;

}

.header {
    /* width: 100vw;
     */
    display:flex;
    flex: 1;
    max-height:150px;

    margin:10px 0;
}

.header-seperator {
    border-width: 2.5px;
    width:100%;
}

.vertical-seperator {   
    border-width: 2.5px;
    margin: 0;
}

.header-main-wrapper {
    display:flex;
    flex-direction: column;
    
    flex:1;
    width: 100%;
}

.navbar-item {
    margin: 20px;
    
    flex: 1;
    transition-duration: 350ms;

    border: 5px solid lightcoral;
    border-radius: 10px;
}

.navbar-today {
    background-color: rgb(252, 235, 210);
}


.navbar-item:hover {
    margin: 10px;
    background-color: #e9e9f1;
}

.sidebar {
    width: 16vw;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}