.header {
    grid-column: 2/3;
    grid-row: 1/2;

    display:flex;
    justify-content: space-between;
    flex: 1;
    max-height:150px;

    margin:10px 0;
}


.navbar-item, .navbar-item-today {
    margin: 20px;
    padding: 0px 7.5px;
    position: relative;

    flex: 1;
    transition-duration: 350ms;

    background-color: var(--bg-item);

    border: 5px solid var(--accent);
    border-radius: 10px;

    font-size: 24px;
}

.navbar-item-today {
    background-color: var(--bg-item2);
}

.navbar-item:hover,.navbar-item-today:hover {
    margin: 13px;
    background-color: var(--item-highlight);
}

.navbar-dates{
    position: absolute;
    right:10px;
}

.navbar-days {
    position: absolute;
    bottom:0;
    left:0;

    padding: 5px 10px;

    font-size: 1.5em;
    font-weight: 400;
}