.modal {
    position: sticky;
    inset :0;
    margin: auto;
    padding: 0 5px 20px 5px;
    width: 38rem;
    height: fit-content;
    max-height: 80vh;

    border-radius: 5px;
    background-color: var(--bg-color);
}

.modal-wrapper {
    display:flex;
    flex-direction: column;
    margin-top:50px;

    padding: 20px;
    height:100%;
}

.modal-header {
    font-weight: 500;
    font-size: 36px;
    grid-row: 1 2;

    width: fit-content;
}

.modal-button-close{
    outline: none;
    border: 0;
    background-color: transparent;
    width: 3rem;
    height:3rem;

    position: absolute;
    top: 10px;
    right: 10px;
}

#closeBtn {
    width: 100%;
    height:100%;
    pointer-events: none;
}

.form {
    display:flex;
    flex-direction: column;
    height:100%;
}

form label {
    font-weight: 450;
    font-size: 1.5rem;
}

.modal-tf, .modal-tfdesc, .ddl-listname, .modal-datetime {
    height: 1.5rem;
    margin: 10px 0 20px 0;
    padding: 0;

    font-size:large;
    font-weight: 500;
}

.modal-tfdesc {
    height: 4rem;
}

.modal-closeBtn {
    position: absolute;
    top:2%;
    right: 1%;
}

.modal-addBtn {
    width: fit-content;
    margin-top: auto;

    font-size:1.5rem;
    height: 3.5rem;
    width: fit-content;
    padding: 10px 20px;

    border-radius: 10px;
    border-width: 0;
    background-color: var(--bg-item2);
}