.Page {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.login-container{
    padding: 0 50px 0 0;
}

.login-head {
    font-weight: 600;
    font-size: 6rem;
}

.frm-login {
    height: 100%;
    min-width: auto;
    width: 400px;
    background-color: va(--bg-color);

    display: flex;
    flex-direction: column;
    padding: 70px 0 0 15px;
}

.tf-login {
    font-family: inherit;

    border: none;
    border-radius: 5px;
    background: var(--bg-item);

    font-size: 2rem;
    font-weight: 350;
    height: 2.5rem;
    width: 85%;

    margin-bottom: 20px;
    transition: 200ms;
    

    &:focus{
        outline: 4px solid var(--border-highlight);
    }
}


.button {
    width: auto;
    height:100px;
}

.image-container, img{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;

    z-index: -1;
}

.image-container::after {
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--bg-color) 70%);
    pointer-events: none; /* Allows clicks to pass through */
}

.bg-image {
    display:block;
}

.bg-image-att {
    position: absolute;
    bottom: 20px;
    left: 20px;

    padding: 10px;
    border: none;

    color: var(--text-color);
    font-weight: 500;

    background-color:rgb(172, 219, 221);
    opacity: 70%;
}