.Task-wrapper {
    width: 100%;
    height: 100%;

    display:flex;
    flex-direction: column;
}

.Task-header {
    font-weight: 650;
    font-size: 56px;
    padding:15px;
    padding-bottom: 0px ;

    color: var(--text-color);
}

.Task-group {
    border-radius: 10px;
    margin: 1.5% 1%;

    position: relative;

    background-color: var(--bg-item);

    z-index: 0;
    transition: 500ms;
}

.Task-group:not(.name, .Task-group){
    z-index: -1;
}

.Task-group-details {
    padding: 20px 35px; 
}

:hover.Task-group {
    padding:15px;
    min-height: 200px;

    background-color: var(--item-highlight);
}

.name{
    transition: 300ms;
}

:hover.Task-group .name{
    font-weight: 400;
    font-size: 48px;
}

.date {
    width: 15%;
    background-color: var(--item-highlight);
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    top: 0;

    height: 100%;
    
    border-bottom-right-radius:10px;
    border-top-right-radius: 10px;

    transition: 500ms;
}

.addBtn {
    padding:25px;
    width:7vw;
    transition:150ms;

    position: sticky;
    bottom: 20px; /* makes it stick to bottom of screen */
    margin-left: auto; /* fills up all the space on the left */
    outline: none;
    border:0;
    border-radius: 20px;
    background-color: transparent;
    background-color: var(--bg-button);
    opacity: 80%;
}

.addBtn:hover{
    width: 10vw;
}

#embed-addTask{
    width: 100%;
    padding-right: 10px;
    pointer-events: none;
}