.sidebar {
    grid-column: 1;
    grid-row: 1/2;

    width: 18vw;
    min-height: 500px;

    display: flex;
    flex-direction: column;
}

.sidebar h1 {
    font-size:56px;
    margin-top:10px;
    padding-right: 5px;
}

.sidebar-divider {
    display: flex;
    align-items: center;
}

.sidebar-divider-line {   
    border-width: 2px;
    height: 2px;
    flex: 1;
    margin: 0;
    width: 80%;
}

.add-list-header {
    font-size: 14px;
    margin-top :0;
    margin-bottom: 5px;
}

.input-addList {
    margin: 5px 0;
}

.sidebar-addBtn {
    padding:0;
    margin:0;
    width:3rem;
    outline: none;

    border:0;
    background-color: transparent;
}

#addBtn {
    width: 100%;
    padding-right: 10px;
    transition:150ms;
    pointer-events: none;
}

:hover#addBtn {
    width: 3.2rem;
    z-index: 0;
}

.sidebar-preset {
    padding: 0 0 5px 10px;
}

.sidebar-item {
    border: 0;
    border-radius: 5px;
    width: 95%;
  
    padding: 15px 7.5px;
    margin: 10px 0;
    height: 2.5em;
    display: flex;
    align-items: center;

    color: var(--text-color);
    font-size: 24px;
    transition-duration: 250ms;
}

.sidebar-item:hover {
    background-color: var(--item-highlight);
    cursor: pointer;
}

.sidebar-item-icon {
    width: 2em;
    padding-right: 10px;
}