/* #region sidebar */
.sidebar {
  width: 18vw;
  min-height: 500px;

  display:flex;
  flex-direction: column;
}

.sidebar-divider {
  width: inherit;
  border-width: 1.5px;
  margin:0;
}

.sidebar-preset {
  padding: 0 0 5px 10px;
}

.sidebar-item {
  border:0;
  border-radius: 5px;

  margin: 15px 7.5px;
  padding-left: 10px;
  height: 2.5em;
  display: flex;
  align-items: center;

  color:black;
  font-size: 24px;
  transition-duration: 250ms;
}

.sidebar-item:hover {
  background-color: var(--dark);
  cursor: pointer;
}

.sidebar-item-icon {
  width: 2em;
}

/* #endregion */

/* #region header */
.header-main-wrapper {
  display:flex;
  flex-direction: column;
  
  flex:1;
  width: 100%;
}

.header {
  display:flex;
  flex: 1;
  max-height:150px;

  margin:10px 0;
}

.navbar-item {
  margin: 20px;
  
  flex: 1;
  transition-duration: 350ms;

  border: 5px solid var(--outline);
  border-radius: 10px;
}

.navbar-today {
  background-color: var(--standard);
}

.navbar-item:hover {
  margin: 13px;
  background-color: var(--bg-highlight);
}

/* #endregion */

/* #region main content WRITE CSS HERE TASHA */
.main-content {
  flex: 1;
}

/* #endregion */