/* change color scheme here so it wont be so mafan tqvm */
:root{
  --accent: #E75A5F;
  --light: #FAFADC;
  --standard: #FEE698;
  --dark: #FDB15D;

  --bg-color: var(--light);
  --outline: var(--accent);
  --bg-highlight: var(--dark);
}

body * {
  border-color: #E75A5F;
}

body {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;

  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.sidebar h1 {
  font-size:56px;
  margin-top:10px;    
}

.freepik-credit {
  margin-top: auto;
}

.header-seperator {
  border-width: 2.5px;
  width:100%;
}

.vertical-seperator {   
  border-width: 2.5px;
  margin: 0;
}